body {
    margin: 0 !important;
    padding: 0 !important;
}
.green {
    border: 1px solid green;
    border-radius: 25px
}
.red{
    border: 1px solid red ;
}

.banner{
    height: 865px;
    width: 100%;
    background: url(./banner.jpg) center center no-repeat;
}
    .about-sign-in {
    padding:200px 200px 50px;
    padding-top: 50;
    height: 79;
    text-align: right;
    text-transform: uppercase
    }
        .about {
             padding-right: 50;
             text-decoration: none;
            font-size: 13;
         }
        .signin {
            text-decoration: none;
            padding: 6px 10px 6px;
            font-size: 13;
            color: green;
        }
    .logo {
        height: 200;
        width: 100%;
        background: url(./hapoERP.png) center center no-repeat;
    }
    .icon-text {
        height: 150px;
        width: 1100px;
        text-align: center;
        font-size: 35px;
        padding-left: 200;
        
    }
        img {
            height: 50px;
            width: 50px;
            }
        .better, .faster, .together {
            width: 300px;
            display: inline-block;
    
        }
            span {
                display: block;
            } 
    .button-text {
        height: 200px;
        text-align: center;
        font-style: oblique;
    }
        .text {
            font-size: 25px;
            margin-bottom: 30px;
       
        }
        button {
            background-color: #4CAF50;
            border-radius: 37px;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
            span {
                display: block;
            } 






